/* Error: Undefined variable.
 *     ,
 * 121 |     box-shadow: $cont-box-shadow-fleetwood;
 *     |                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   sass/global/base/_body.scss 121:17  @import
 *   sass/main.scss 6:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 121 \2502      box-shadow: $cont-box-shadow-fleetwood;\a     \2502                  ^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   sass/global/base/_body.scss 121:17  @import\a   sass/main.scss 6:9                  root stylesheet";
}
