/**
 * @file
 * Styles for link buttons and action links.
 */

@import 'design-tokens';

.action-links {
  margin: $layout-spacing-large 0;
  padding: 0;
  list-style: none;
}
[dir='rtl'] .action-links {
  /* This is required to win over specificity of [dir="rtl"] ul */
  margin-right: 0;
}
.action-links li {
  display: inline-block;
  margin: 0 $layout-spacing-small;
}
.action-links li:first-child {
  margin-left: 0; /* LTR */
}
[dir='rtl'] .action-links li:first-child {
  margin-right: 0;
  margin-left: $layout-spacing-small;
}
.button-action {
  display: inline-block;
  padding: $layout-spacing-small $layout-spacing-medium $layout-spacing-small;
  text-decoration: none;
  line-height: $typography-line-height-xl;
}
.button-action:before {
  margin-left: $layout-spacing-negative-xsmall; /* LTR */
  padding-right: $layout-spacing-negative-small; /* LTR */
  content: '+';
  font-weight: $typography-font-weight-bold;
}
[dir='rtl'] .button-action:before {
  margin-right: $layout-spacing-negative-xsmall;
  margin-left: 0;
  padding-right: 0;
  padding-left: $layout-spacing-negative-small;
}
