/**
 * @file
 * Visual styles for buttons.
 */

.button,
.image-button {
  margin-right: $layout-spacing-large;
  margin-left: $layout-spacing-large;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}
